.mainContainer{ display: flex; flex-direction: column; gap: 100px; align-self: center; margin-bottom: 50px;}
.topContainer{ display: flex; flex-direction: row; gap: 100px; align-self: center;}
.bottomContainer{ display: flex; flex-direction: row; gap: 50px; align-self: center; }
.leftContainer{ width: fit-content; display: flex; flex-direction: column; gap: 25px;}
.rightContainer{ display: flex; flex-direction: column; align-items: center; justify-content: center; width: 600px; gap: 20px;}

.error{font-size: 16px; font-weight: 400; background-color: #3b3b3b; padding: 25px; border-radius: 18px;}
.roomContainer{ width: 200px; display: flex; flex-direction: column; align-items: center;}

.resolution{display: flex; flex-direction: column; width: 400px;}
.resolution span{font-size: 12px; font-weight: 200;}

.modo{display: flex; flex-direction: column; gap: 5px;}
.modoTitle{font-size: 18px; font-weight: 600; margin-bottom: 10px;}